.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px minmax(100px, auto) auto 150px;
  gap: 0px 0px;
  grid-template-areas:
    "nav"
    "form-area"
    "table-area"
    "pager-area";
  place-items: center;
  background: linear-gradient(var(--main-bg), var(--secondary-bg));
  color: var(--secondary-text);

  nav {
    display: grid;
    grid-area: nav;
    text-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    user-select: none;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid var(--secondary-text);

    h1 {
      place-self: center;
      color: white;
    }

    span {
      color: var(--main-accent);
    }
  }

  .form-area {
    grid-area: form-area;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;

    form.closed {
      display: none;
    }

    form {
      padding: 5px;
      display: grid;
      grid-template-rows: 30px;
      gap: 10px 5px;

      input,
      select {
        border: none;
        height: 30px;
        padding-left: 15px;
      }

      input:hover,
      select:hover,
      input:focus,
      select:focus {
        background-color: var(--secondary-bg);
      }
    }

    .searchName {
      grid-area: searchName;
    }
    .balanceLabel {
      grid-area: balanceLabel;
    }
    .balanceFrom {
      grid-area: balanceFrom;
    }
    .balanceTo {
      grid-area: balanceTo;
    }
    .registerLabel {
      grid-area: registerLabel;
    }
    .registerFrom {
      grid-area: registerFrom;
    }
    .registerTo {
      grid-area: registerTo;
    }
    .countryLabel {
      grid-area: countryLabel;
    }
    .stateLabel {
      grid-area: stateLabel;
    }
    .country {
      grid-area: country;
    }
    .state {
      grid-area: state;
    }
    .activityLabel {
      grid-area: activityLabel;
    }
    .active {
      grid-area: active;
    }
    .filterBtn {
      grid-area: filterBtn;
      place-self: center;
    }
    .resetBtn {
      grid-area: resetBtn;
      place-self: center;
    }

    button {
      min-width: 200px;
      padding: 12px;
      margin: 5px;
      cursor: pointer;
      border: none;
      border-radius: 2px;
      font-weight: 500;
      color: white;
      background-color: var(--secondary-text);
      transition: all ease-in-out 0.25s;
    }

    button:hover {
      background-color: var(--secondary-bg);
      color: var(--main-text);
    }
  }

  .table-area {
    grid-area: table-area;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 3px solid var(--main-accent);
    border-bottom: 3px solid var(--main-accent);

    table {
      width: 100%;
      border: none;
      min-width: 400px;

      thead {
        tr {
          background-color: var(--secondary-text);
          color: white;
          height: 50px;
        }

        th {
          user-select: none;
        }

        button {
          width: 30px;
          font-weight: bold;
          border: none;
          border-radius: 1px;
          background-color: transparent;
          color: white;
          outline: none;
        }

        button:hover {
          color: var(--activity-on);
          cursor: pointer;
        }
      }

      tbody {
        tr {
          background-color: var(--secondary-bg);
          text-align: center;

          td {
            position: relative;
            height: 50px;
            min-width: 130px;

            &:last-child {
              min-width: 100px;
            }

            &.full-name {
              font-weight: 600;
              // padding: 15px;
            }
          }

          .activity {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
            place-self: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--main-accent);
          }

          .on {
            background-color: var(--activity-on);
          }
        }

        tr:nth-child(even) {
          background-color: var(--main-bg);
        }
      }

      .loading-message {
        place-items: center;
        text-align: center;
      }
    }
  }

  .pager {
    grid-area: pager-area;

    button,
    select {
      padding: 12px;
      margin: 5px;
      cursor: pointer;
      border: none;
      border-radius: 2px;
      font-weight: 500;
      background-color: #efefef;
    }

    button:hover,
    select:hover {
      background-color: var(--secondary-bg);
      border: 1px solid var(--main-bg);
      padding: 9px;
    }

    #current-btn {
      border: none;
      user-select: none;
      background-color: var(--secondary-bg);
      font-weight: bold;
      cursor: auto;
      outline: none;
    }
  }
}

@media only screen and (min-width: 1000px) {
  form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "searchName ."
      "balanceLabel ."
      "balanceFrom balanceTo"
      "registerLabel ."
      "registerFrom registerTo"
      "countryLabel stateLabel"
      "country state"
      "activityLabel ."
      "active ."
      "filterBtn resetBtn";
  }

  table {
    .full-name,
    .state-td,
    .country-td {
      padding: 15px;
    }
  }
}

@media only screen and (min-width: 700px) {
  table {
    thead {
      th {
        padding: 16px;
      }
    }
  }

  .pager {
    button,
    select {
      width: 80px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  form {
    grid-template-columns: 1fr;
    grid-template-areas:
      "searchName"
      "balanceLabel"
      "balanceFrom"
      "balanceTo"
      "registerLabel"
      "registerFrom"
      "registerTo"
      "countryLabel"
      "country"
      "stateLabel"
      "state"
      "activityLabel"
      "active"
      "filterBtn"
      "resetBtn";
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: center;
    padding-top: 15px;

    .activity {
      margin-left: 100px;
    }
  }

  td:before {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Full Name";
  }
  td:nth-of-type(2):before {
    content: "Balance";
  }
  td:nth-of-type(3):before {
    content: "Registered";
  }
  td:nth-of-type(4):before {
    content: "Country";
  }
  td:nth-of-type(5):before {
    content: "State";
  }
  td:nth-of-type(6):before {
    content: "Active";
  }

  .pager {
    button,
    select {
      width: 70px;
    }
  }
}
