<div class="wrapper">
  <nav>
    <h1>FACTORY <span>WORLD WIDE</span></h1>
  </nav>
  <div class="form-area">
    <button (click)="toggleClosed()">
      {{ toggleBtn ? "⮟  Open " : "⮝  Close " }}Filter Form
    </button>
    <form
      [ngClass]="{ closed: toggleBtn }"
      [formGroup]="filterForm"
      (ngSubmit)="submitForm()"
    >
      <!-- Full Name Search -->
      <input
        formControlName="searchName"
        type="text"
        placeholder="Search by Name..."
        id="searchName"
        class="searchName"
        name="searchName"
      />
      <!-- Balance -->
      <label class="balanceLabel" for="balanceFrom">Balance</label>
      <input
        formControlName="balanceFrom"
        type="number"
        min="0"
        max="10000"
        placeholder="from"
        id="balanceFrom"
        class="balanceFrom"
        name="balanceFrom"
      />
      <input
        formControlName="balanceTo"
        type="number"
        min="0"
        max="10000"
        placeholder="to"
        id="balanceTo"
        class="balanceTo"
        name="balanceTo"
      />
      <!-- Register -->
      <label class="registerLabel" for="registeredFrom"
        >Registered (from - to)</label
      >
      <input
        type="date"
        formControlName="registeredFrom"
        id="registeredFrom"
        class="registerFrom"
        name="registeredFrom"
      />
      <input
        type="date"
        formControlName="registeredTo"
        id="registeredTo"
        class="registerTo"
        name="registeredTo"
      />
      <!-- Country -->
      <label class="countryLabel" for="country">Country</label>
      <select
        class="country"
        formControlName="country"
        id="country"
        name="country"
      >
        <option value="">/</option>
        <option *ngFor="let country of uniqueCountries" value="{{ country }}">
          {{ country }}
        </option>
      </select>
      <!-- State -->
      <label class="stateLabel" for="state">State</label>
      <select class="state" formControlName="state" id="state" name="state">
        <option value="">/</option>
        <option *ngFor="let state of uniqueStates" value="{{ state }}">
          {{ state }}
        </option>
      </select>
      <!-- Activity -->
      <label class="activityLabel" for="active">Activity</label>
      <select class="active" formControlName="active" id="active" name="active">
        <option value="">/</option>
        <option value="true">Active</option>
        <option value="false">Not Active</option>
      </select>
      <!-- Submit Button -->
      <button class="filterBtn" [disabled]="!filterForm.valid" type="submit">
        Filter
      </button>
      <!-- Reset Form Button -->
      <button class="resetBtn" type="reset" (click)="resetForm()">
        Reset Form
      </button>
    </form>
  </div>
  <div class="table-area">
    <table>
      <thead>
        <tr>
          <th>
            Full Name
            <button (click)="sortItems(users, filteredUsers, 'fullName')">
              ⮟
            </button>
          </th>
          <th>
            Balance
            <button (click)="sortItems(users, filteredUsers, 'balance')">
              ⮟
            </button>
          </th>
          <th>
            Registered
            <button (click)="sortItems(users, filteredUsers, 'registered')">
              ⮟
            </button>
          </th>
          <th>
            Country
            <button (click)="sortItems(users, filteredUsers, 'country')">
              ⮟
            </button>
          </th>
          <th>
            State
            <button (click)="sortItems(users, filteredUsers, 'state')">
              ⮟
            </button>
          </th>
          <th>
            Active
            <button (click)="sortItems(users, filteredUsers, 'isActive')">
              ⮟
            </button>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="paginatedUsers || filteredUsers; else loading">
        <tr *ngFor="let user of paginatedUsers">
          <td class="full-name">{{ user.fullName }}</td>
          <td>{{ user.balance }}</td>
          <td>{{ user.registered | date }}</td>
          <td class="country-td">{{ user.country }}</td>
          <td class="state-td">{{ user.state }}</td>
          <td>
            <div class="activity" [class.on]="user.isActive"></div>
          </td>
        </tr>
      </tbody>
      <ng-template #loading>
        <tbody class="loading-message">
          <h4>No users to display</h4>
        </tbody>
      </ng-template>
    </table>
  </div>
  <div class="pager">
    <select (change)="updatePerPage($event)" name="numPerPage" id="numPerPage">
      <option value="{{ usersPerPage }}" selected disabled>
        {{ usersPerPage }}
      </option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
    <button *ngIf="currentPage > 1" (click)="pageAction('first')">First</button>
    <button *ngIf="currentPage > 2" (click)="pageAction('previous')">
      Prev
    </button>
    <button id="current-btn">{{ currentPage }}</button>
    <button *ngIf="currentPage < totalPages" (click)="pageAction('next')">
      Next
    </button>
    <button *ngIf="currentPage != totalPages" (click)="pageAction('last')">
      Last
    </button>
  </div>
</div>
