@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-bg: #fbfbfb;
  --secondary-bg: #d6d6d6;
  --main-text: #000001;
  --secondary-text: #201d1d;
  --main-accent: #d0021b;
  --activity-on: #15c908;
}

body {
  &::-webkit-scrollbar {
    width: 0.35rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--main-bg);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--main-accent);
  }
}
